.icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}

.icon-add {
    background-image: url('../../img/icon-add-48.png');
}

.icon-circle {
    background-image: url('../../img/icon-circle-48.png');
}

.icon-history {
    background-image: url('../../img/icon-history-48.png');
}

.icon-ok {
    background-image: url('../../img/icon-ok-48.png');
}

.icon-run {
    background-image: url('../../img/icon-run-48.png');
}

.icon-sm {
    height: 24px;
    width: 24px;
}

.icon-add-sm {
    background-image: url('../../img/icon-add-24.png');
}

.icon-back-sm {
    background-image: url('../../img/icon-back-24.png');
}

.icon-history-sm {
    background-image: url('../../img/icon-history-24.png');
}

.icon-menu-sm {
    background-image: url('../../img/icon-menu-24.png');
}

.b-3 {
    bottom: 1rem;
}

.r-3 {
    right: 1rem;
}

